specs/001-email-classification-mvp/contracts/classification-workflow.json
{
  "name": "Classification-Workflow",
  "id": "MVkAVroogGQA6ePC",
  "nodes": [
    {
      "id": "trigger",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "extract",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const email = item.json;\n  const subject = email.subject || '';\n  const body = email.body || '';\n  const bodyPreview = body.slice(0, 2500);\n  \n  results.push({\n    json: {\n      email_id: email.email_id,\n      message_id: email.message_id,\n      sender: email.sender,\n      subject: subject,\n      body_preview: bodyPreview,\n      full_text: `Subject: ${subject}\\n\\nFrom: ${email.sender}\\n\\nBody: ${bodyPreview}`\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "embeddings",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [680, 500],
      "parameters": {"model": "text-embedding-ada-002"},
      "credentials": {"openAiApi": {"id": "openai", "name": "OpenAI"}}
    },
    {
      "id": "chatmodel",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [900, 180],
      "parameters": {
        "model": {"__rl": true, "mode": "list", "value": "gpt-4-turbo-preview"},
        "options": {"temperature": 0.4, "maxTokens": 500}
      },
      "credentials": {"openAiApi": {"id": "openai", "name": "OpenAI"}}
    },
    {
      "id": "vectortool",
      "name": "Similar Emails Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [900, 380],
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "similar_emails_search",
        "toolDescription": "Search for similar previously classified emails to provide context for classification decisions",
        "tableName": {"__rl": true, "mode": "list", "value": "email_embeddings"},
        "topK": 5
      },
      "credentials": {"supabaseApi": {"id": "supabase", "name": "Supabase"}}
    },
    {
      "id": "agent",
      "name": "AI Classification Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1120, 300],
      "parameters": {
        "text": "={{ $json.full_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an email classification assistant for a personal email account.\n\nCATEGORIES:\n- KIDS: School communications, extracurricular activities, parent-teacher emails\n- ROBYN: Personal emails to/from Robyn (spouse)\n- WORK: Professional emails, meetings, projects\n- FINANCIAL: Bills, invoices, bank statements, payments\n- SHOPPING: Order confirmations, shipping, promotions\n- OTHER: Everything else\n\nURGENCY: HIGH (immediate), MEDIUM (this week), LOW (informational)\nACTION: RESPOND, TASK, PAYMENT, CALENDAR, FYI, NONE\n\nReturn JSON: {category, urgency, action, confidence (0-1), extracted_names: [], extracted_dates: [], extracted_amounts: []}"
        }
      }
    },
    {
      "id": "parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1120, 480],
      "parameters": {
        "jsonSchema": "{\"type\":\"object\",\"properties\":{\"category\":{\"type\":\"string\",\"enum\":[\"KIDS\",\"ROBYN\",\"WORK\",\"FINANCIAL\",\"SHOPPING\",\"OTHER\"]},\"urgency\":{\"type\":\"string\",\"enum\":[\"HIGH\",\"MEDIUM\",\"LOW\"]},\"action\":{\"type\":\"string\",\"enum\":[\"FYI\",\"RESPOND\",\"TASK\",\"PAYMENT\",\"CALENDAR\",\"NONE\"]},\"confidence\":{\"type\":\"number\"},\"extracted_names\":{\"type\":\"array\"},\"extracted_dates\":{\"type\":\"array\"},\"extracted_amounts\":{\"type\":\"array\"}},\"required\":[\"category\",\"urgency\",\"action\",\"confidence\"]}"
      }
    },
    {
      "id": "validate",
      "name": "Validate Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const c = $input.first().json;\nconst emailId = $('When called by another workflow').first().json.email_id;\n\nreturn [{\n  json: {\n    email_id: emailId,\n    category: c.category,\n    urgency: c.urgency,\n    action: c.action,\n    confidence_score: c.confidence,\n    extracted_names: c.extracted_names || [],\n    extracted_dates: c.extracted_dates || [],\n    extracted_amounts: c.extracted_amounts || [],\n    classified_timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "insert",
      "name": "Insert Classification",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 300],
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "classifications",
        "dataToSend": "autoMapInputData"
      },
      "credentials": {"supabaseApi": {"id": "supabase", "name": "Supabase"}}
    }
  ],
  "connections": {
    "When called by another workflow": {"main": [[{"node": "Extract Text", "type": "main", "index": 0}]]},
    "Extract Text": {"main": [[{"node": "AI Classification Agent", "type": "main", "index": 0}]]},
    "AI Classification Agent": {"main": [[{"node": "Validate Classification", "type": "main", "index": 0}]]},
    "Validate Classification": {"main": [[{"node": "Insert Classification", "type": "main", "index": 0}]]},
    "Structured Output Parser": {"ai_outputParser": [[{"node": "AI Classification Agent", "type": "ai_outputParser", "index": 0}]]},
    "OpenAI Chat Model": {"ai_languageModel": [[{"node": "AI Classification Agent", "type": "ai_languageModel", "index": 0}]]},
    "Similar Emails Tool": {"ai_tool": [[{"node": "AI Classification Agent", "type": "ai_tool", "index": 0}]]},
    "Embeddings OpenAI": {"ai_embedding": [[{"node": "Similar Emails Tool", "type": "ai_embedding", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
